@import 'tailwindcss';

@theme {
  --color-blue-50: #e7f5ff;
  --color-blue-100: #d0ebff;
  --color-blue-200: #a5d8ff;
  --color-blue-300: #74c0fc;
  --color-blue-400: #4dabf7;
  --color-blue-500: #339af0;
  --color-blue-600: #228be6;
  --color-blue-700: #1c7ed6;
  --color-blue-800: #1971c2;
  --color-blue-900: #1864ab;
}
